@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body {
  font-family: 'NanumSquare';
  background-color: #eeeeee;
}

.file-upload {
  border-radius: 5px;
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  border: 4px dashed #e6cddd;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #e6cddd;
  border: 2px dashed #f7e5f0;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #bc94ad;
  padding: 100px 0;
}

.file-upload-image {
  max-height: 300px;
  max-width: 300px;
  margin: auto;
  padding: 20px;
  object-fit: cover;
}

.card-img-div {
    overflow: hidden;
    height: 20rem;
    width: 100%;
}

.card-img-div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-img-overlay {
    opacity: 0.8;
    color: #fff;
    top: 45%;
}

.gender * {
  box-sizing: border-box;
}

.gender input {
  display: none;
}

.gender label {
  cursor: pointer;
  display: inline-block;
  width: 90px;
  height: 41px;
  box-shadow: 0 0 0 8px #ccc inset;
  border-radius: 120px;
  position: relative;
}

.gender .knob {
  position: absolute;
  width: 41px;
  top: 0;
  left: 0;
  height: 41px;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #f470a7 inset;
  background-color: #fff;
  transition: 0.3s;
}

.gender .knob > i {
  position: absolute;
  width: 8px;
  height: 18px;
  top: 100%;
  background-color: #f470a7;
  left: calc(50% - 4px);
}

.gender .knob > i:before,
.gender .knob > i:after {
  width: 8px;
  position: absolute;
  top: 21%;
  content: "";
  height: 8px;
  background-color: #f470a7;
}

.gender .knob > i:before {
  left: 8px;
}
.gender .knob > i:after {
  left: -8px;
}

.gender input:checked + label > .knob {
  box-shadow: 0 0 0 8px #6ec7ff inset;
  background-color: #fff;
  transform: translateX(49px) rotate(-140deg);
}

.gender input:checked + label > .knob > i {
  background-color: #6ec7ff;
}

.gender input:checked + label > .knob > i:after,
.gender input:checked + label > .knob > i:before {
  background-color: #6ec7ff;
}

.gender input:checked + label > .knob > i:after {
  top: 8px;
  width: 20px;
  left: -10px;
  transform: rotate(45deg);
}
.gender input:checked + label > .knob > i:before {
  top: 8px;
  width: 20px;
  left: -2px;
  transform: rotate(134deg);
}
